/* تنظیمات کلی */
body {
    direction: rtl;
    font-family: Tahoma, sans-serif;
    background-color: #d2cdcd;
    margin: 60;
}

/* هدر */
header {
    background-color: #7a7272;
    color: rgb(7, 6, 6);
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* کانتینر اصلی برای چیدمان کارتی */
.container {
    display: grid;
    /* این خط باعث می‌شود محصولات در ردیف‌های ۳ یا ۴ تایی قرار بگیرند */
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    gap: 10px;
    padding: 40px;
justify-items: center;
}
@media (max-width: 600px) {
    .container  {
        grid-template-columns: 
        repeat(1,  1fr);
    }
}

/* استایل کارت محصول */
.product-card {
    background: rgb(245, 242, 242) !important;
    border: 2px solid #333 !important;
    border-radius: 15px !important;
    padding: 20px !important;
    text-align: center;
    box-shadow: 0 10px 20px rgb(50, 49, 51) !important;
display: flex;
flex-direction: column;
justify-content: space-between;
}

/* تنظیم دقیق اندازه عکس (راه حل اصلی مشکل تو) */
.product-card img {
    width: 100%;       /* عرض عکس به اندازه کارت شود */
    height: 250px;      /* ارتفاع عکس ثابت شود */
    object-fit: cover; 
    display: block; /* عکس کشیده نشود و مرتب برش بخورد */
    border-radius: 15px;
}

.product-card h3 {
    font-size: 1.5rem;
    margin: 10px 0;
}

button {
    background-color: #26757c;
    color: rgb(255, 254, 254);
    border: none;
    padding: 15px 20px;
    border-radius: 500px;
    cursor: pointer;
}
header h1 {
    color: #030303; /* رنگ مورد نظر خود را اینجا وارد کنید */
    font-family: 'Tahoma', sans-serif; /* نام فونت مورد نظر */
    font-size: 20px; /* اندازه متن */
}
